<a href="https://colab.research.google.com/github/Seunsoipe/Python-Synthax-Checkpoint/blob/main/Python_Checkpoint_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Question 1: Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn

#Sample value of n is 5 

#Expected Result : 615 (5+55+555)
a = (input('input an integer :'))
n1 = (a)
n2 = a+a
n3 = a+a+a
print(n2)
print(n3)

print(int(n1)+int(n2)+int(n3))

input an integer :5
55
555
615

In [2]:
a = (input('input an integer :'))
n1 = (a)
n2 = a+a
n3 = a+a+a
print(n2)
print(n3)

Result = int(n1) + int(n2) + int(n3)
print(Result)

input an integer :5
55
555
615

In [3]:
a = (input('input an integer :'))
n1 = (a)
n2 = a+a
n3 = a+a+a
print(n2)
print(n3)

Result = int(n1) + int(n2) + int(n3)
print(Result)

input an integer :8
88
888
984

In [5]:
#Question 2

#Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

Number = input('Please enter a Value')
Number = int(Number)
if Number%2 == 0:
  print('The number You entered is an Even Number')
else:
  print('The number is an Odd number')

Please enter a Value6
The number You entered is an Even Number

In [7]:
#Question 2

#Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

Number = input('Please enter a Value')
Number = int(Number)
if Number%2 == 0:
  print('The number You entered is an Even Number')
else:
  print('The number is an Odd number')

Please enter a Value13
The number is an Odd number

In [16]:
#Question 3 

#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). 
#The numbers obtained should be printed in a sequence on a single line.

#Hints: Consider use range(#begin, #end) method

for i in range(2000,3200):
    if i%7 == 0 and i%5 != 0:
       print(i, end=" ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [18]:
#Mylist = []
for i in range(2000,3200):
    if i%7 == 0 and i%5 != 0:
      #Mylist.append(i)
       print(i, 'is divisible by 7 and is a multiple of 5')

2002 is divisible by 7 and is a multiple of 5
2009 is divisible by 7 and is a multiple of 5
2016 is divisible by 7 and is a multiple of 5
2023 is divisible by 7 and is a multiple of 5
2037 is divisible by 7 and is a multiple of 5
2044 is divisible by 7 and is a multiple of 5
2051 is divisible by 7 and is a multiple of 5
2058 is divisible by 7 and is a multiple of 5
2072 is divisible by 7 and is a multiple of 5
2079 is divisible by 7 and is a multiple of 5
2086 is divisible by 7 and is a multiple of 5
2093 is divisible by 7 and is a multiple of 5
2107 is divisible by 7 and is a multiple of 5
2114 is divisible by 7 and is a multiple of 5
2121 is divisible by 7 and is a multiple of 5
2128 is divisible by 7 and is a multiple of 5
2142 is divisible by 7 and is a multiple of 5
2149 is divisible by 7 and is a multiple of 5
2156 is divisible by 7 and is a multiple of 5
2163 is divisible by 7 and is a multiple of 5
2177 is divisible by 7 and is a multiple of 5
2184 is divisible by 7 and is a multiple of 5
2191 is divisible by 7 and is a multiple of 5
2198 is divisible by 7 and is a multiple of 5
2212 is divisible by 7 and is a multiple of 5
2219 is divisible by 7 and is a multiple of 5
2226 is divisible by 7 and is a multiple of 5
2233 is divisible by 7 and is a multiple of 5
2247 is divisible by 7 and is a multiple of 5
2254 is divisible by 7 and is a multiple of 5
2261 is divisible by 7 and is a multiple of 5
2268 is divisible by 7 and is a multiple of 5
2282 is divisible by 7 and is a multiple of 5
2289 is divisible by 7 and is a multiple of 5
2296 is divisible by 7 and is a multiple of 5
2303 is divisible by 7 and is a multiple of 5
2317 is divisible by 7 and is a multiple of 5
2324 is divisible by 7 and is a multiple of 5
2331 is divisible by 7 and is a multiple of 5
2338 is divisible by 7 and is a multiple of 5
2352 is divisible by 7 and is a multiple of 5
2359 is divisible by 7 and is a multiple of 5
2366 is divisible by 7 and is a multiple of 5
2373 is divisible by 7 and is a multiple of 5
2387 is divisible by 7 and is a multiple of 5
2394 is divisible by 7 and is a multiple of 5
2401 is divisible by 7 and is a multiple of 5
2408 is divisible by 7 and is a multiple of 5
2422 is divisible by 7 and is a multiple of 5
2429 is divisible by 7 and is a multiple of 5
2436 is divisible by 7 and is a multiple of 5
2443 is divisible by 7 and is a multiple of 5
2457 is divisible by 7 and is a multiple of 5
2464 is divisible by 7 and is a multiple of 5
2471 is divisible by 7 and is a multiple of 5
2478 is divisible by 7 and is a multiple of 5
2492 is divisible by 7 and is a multiple of 5
2499 is divisible by 7 and is a multiple of 5
2506 is divisible by 7 and is a multiple of 5
2513 is divisible by 7 and is a multiple of 5
2527 is divisible by 7 and is a multiple of 5
2534 is divisible by 7 and is a multiple of 5
2541 is divisible by 7 and is a multiple of 5
2548 is divisible by 7 and is a multiple of 5
2562 is divisible by 7 and is a multiple of 5
2569 is divisible by 7 and is a multiple of 5
2576 is divisible by 7 and is a multiple of 5
2583 is divisible by 7 and is a multiple of 5
2597 is divisible by 7 and is a multiple of 5
2604 is divisible by 7 and is a multiple of 5
2611 is divisible by 7 and is a multiple of 5
2618 is divisible by 7 and is a multiple of 5
2632 is divisible by 7 and is a multiple of 5
2639 is divisible by 7 and is a multiple of 5
2646 is divisible by 7 and is a multiple of 5
2653 is divisible by 7 and is a multiple of 5
2667 is divisible by 7 and is a multiple of 5
2674 is divisible by 7 and is a multiple of 5
2681 is divisible by 7 and is a multiple of 5
2688 is divisible by 7 and is a multiple of 5
2702 is divisible by 7 and is a multiple of 5
2709 is divisible by 7 and is a multiple of 5
2716 is divisible by 7 and is a multiple of 5
2723 is divisible by 7 and is a multiple of 5
2737 is divisible by 7 and is a multiple of 5
2744 is divisible by 7 and is a multiple of 5
2751 is divisible by 7 and is a multiple of 5
2758 is divisible by 7 and is a multiple of 5
2772 is divisible by 7 and is a multiple of 5
2779 is divisible by 7 and is a multiple of 5
2786 is divisible by 7 and is a multiple of 5
2793 is divisible by 7 and is a multiple of 5
2807 is divisible by 7 and is a multiple of 5
2814 is divisible by 7 and is a multiple of 5
2821 is divisible by 7 and is a multiple of 5
2828 is divisible by 7 and is a multiple of 5
2842 is divisible by 7 and is a multiple of 5
2849 is divisible by 7 and is a multiple of 5
2856 is divisible by 7 and is a multiple of 5
2863 is divisible by 7 and is a multiple of 5
2877 is divisible by 7 and is a multiple of 5
2884 is divisible by 7 and is a multiple of 5
2891 is divisible by 7 and is a multiple of 5
2898 is divisible by 7 and is a multiple of 5
2912 is divisible by 7 and is a multiple of 5
2919 is divisible by 7 and is a multiple of 5
2926 is divisible by 7 and is a multiple of 5
2933 is divisible by 7 and is a multiple of 5
2947 is divisible by 7 and is a multiple of 5
2954 is divisible by 7 and is a multiple of 5
2961 is divisible by 7 and is a multiple of 5
2968 is divisible by 7 and is a multiple of 5
2982 is divisible by 7 and is a multiple of 5
2989 is divisible by 7 and is a multiple of 5
2996 is divisible by 7 and is a multiple of 5
3003 is divisible by 7 and is a multiple of 5
3017 is divisible by 7 and is a multiple of 5
3024 is divisible by 7 and is a multiple of 5
3031 is divisible by 7 and is a multiple of 5
3038 is divisible by 7 and is a multiple of 5
3052 is divisible by 7 and is a multiple of 5
3059 is divisible by 7 and is a multiple of 5
3066 is divisible by 7 and is a multiple of 5
3073 is divisible by 7 and is a multiple of 5
3087 is divisible by 7 and is a multiple of 5
3094 is divisible by 7 and is a multiple of 5
3101 is divisible by 7 and is a multiple of 5
3108 is divisible by 7 and is a multiple of 5
3122 is divisible by 7 and is a multiple of 5
3129 is divisible by 7 and is a multiple of 5
3136 is divisible by 7 and is a multiple of 5
3143 is divisible by 7 and is a multiple of 5
3157 is divisible by 7 and is a multiple of 5
3164 is divisible by 7 and is a multiple of 5
3171 is divisible by 7 and is a multiple of 5
3178 is divisible by 7 and is a multiple of 5
3192 is divisible by 7 and is a multiple of 5
3199 is divisible by 7 and is a multiple of 5

In [19]:
#Write a program which can compute the factorial of a given numbers. The results should be printed in a sequence on a single line. 
#Suppose the following input is supplied to the program: 8 Then, the output should be: 40320 

def factorial(n):
    value = 1
    for i in range(1, n+1):
        value = value * i
    return value

number = int(input("Type a number: "))
print(factorial(number))

Type a number: 8
40320

In [22]:
def odd_values_string(str):
  result = "" 
  for i in range(len(str)):
    if i % 2 == 0:
      result = result + str[i]
  return result


print(odd_values_string('hello team'))

hlota